@charset "UTF-8";
/* ===============================
about
================================== */
.page__title {
    padding: 80px 0 64px;
    text-align: center;
    font-family: 'Aboreto';
    font-size: 2.4rem;
}

.about__wrapper {
    padding: 0 10.6%;
}

.about__img {
    display: block;
    width: 66.8%;
    margin: 0 auto;
}

.about__name {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 40px;
}

.about__nameKanji {
    font-size: 2rem;
    line-height: 1;
    margin-right: 6px;
}

.about__nameKana {
    font-size: 1.1rem;
    line-height: 1;
}

.about__description {
    font-size: 1.3rem;
    line-height: 1.8;
    margin-top: 20px;
}

/* about pc */
@media screen and (min-width:769px) {

}

/* ===============================
skills
================================== */
.section--skills {
    padding: 80px 5.3% 0;
}

.skills__title {
    text-align: center;
    font-family: 'Aboreto';
    font-size: 2.4rem;
    line-height: 1;
}

.skills__title::after {
    content: '';
    display: block;
    margin: 12px auto 0;
    border-bottom: 1px solid #CDB8A3;
    width: 100%;
}

.skills__design,
.skills__coding {
    margin-top: 40px;
}

.skills__designTitle,
.skills__codingTitle {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    padding: 0 12%;
    position: relative;
}

.skills__designTitle::before,
.skills__codingTitle::before {
content: "";
    border: solid 0.8px #403D3D;
    width: 32px;
    position: absolute;
    top: 10px;
    left: 0;
}

.skills__txt {
    font-size: 1.3rem;
    line-height: 1.8;
    margin-top: 10px;
}

.skills__toolTitle {
    color: #CDB8A3;
    font-size: 1.2rem;
    margin-top: 24px;
}

.skills__toolTxt {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* ===============================
skills
================================== */
.section--strengths {
    padding: 80px 5.3% 100px;
}

.strengths__title {
    text-align: center;
    font-family: 'Aboreto';
    font-size: 2.4rem;
    line-height: 1;
}

.strengths__title::after {
    content: '';
    display: block;
    margin: 12px auto 0;
    border-bottom: 1px solid #CDB8A3;
    width: 100%;
}

.strengths__itemTopics {
    display: flex;
    align-items: center;
}

.strengths__item {
    margin-top: 40px;
}

.strengths__num {
    font-family: 'Aboreto';
    font-size: 2rem;
    line-height: 1;
    margin-right: 12px;
}

.strengths__itemTitle {
    font-size: 2rem;
    line-height: 1;
}

.strengths__txt {
    font-size: 1.3rem;
    line-height: 1.8;
    margin-top: 12px;
}

/* ===============================
Btn
================================== */
.nextBtn {
    display: block;
    padding: 56px 0;
    color: #F9F9F9;
}

.nextBtn {
    background-color: #978574;
}

.works__btnFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.works__btnLeft {
    display: flex;
    align-items: center;
}

.works__btnTxt {
    font-family: 'Aboreto';
    font-size: 1.4rem;
    line-height: 1;
}

.works__btnRight {
    font-size: 1.4rem;
    line-height: 1;
    margin-left: 40px;
}

.works__nextBtnArrow {
    margin-left: 12px;
}




