@charset "UTF-8";
/* ===============================
about
================================== */
.page__title {
    padding: 80px 0 64px;
    text-align: center;
    font-family: 'Aboreto';
    font-size: 2.4rem;
}

.about__wrapper {
    padding: 0 10.6%;
}

.about__img {
    display: block;
    width: 66.8%;
    margin: 0 auto;
}

.about__name {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 40px;
}

.about__nameKanji {
    font-size: 2rem;
    line-height: 1;
    margin-right: 6px;
}

.about__nameKana {
    font-size: 1.1rem;
    line-height: 1;
}

.about__description {
    font-size: 1.3rem;
    line-height: 1.8;
    margin-top: 20px;
}

/* about pc */
@media screen and (min-width:769px) {
    .page__title {
        padding: 130px 0 100px;
        font-size: 3.2rem;
    }

    .about__wrapper {
        padding: 100px 20.5%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .about__img {
        width: 34%;
        margin: 0 0 0 100px;
    }

    .about__name {
        justify-content: flex-start;
        margin-top: 0;
    }
    
    .about__nameKanji {
        font-size: 2.4rem;
        font-weight: 500;
        margin-right: 12px;
    }
    
    .about__nameKana {
        font-size: 1.4em;
        font-weight: 500;
    }
    
    .about__description {
        font-size: 1.4rem;
        line-height: 1.8;
        margin-top: 32px;
    }
}

/* ===============================
skills
================================== */
.section--skills {
    padding: 80px 5.3% 0;
}

.skills__title {
    text-align: center;
    font-family: 'Aboreto';
    font-size: 2.4rem;
    line-height: 1;
}

.skills__title::after {
    content: '';
    display: block;
    margin: 12px auto 0;
    border-bottom: 1px solid #CDB8A3;
    width: 100%;
}

.skills__design,
.skills__coding {
    margin-top: 40px;
}

.skills__designTitle,
.skills__codingTitle {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    padding-left: 40px;
    position: relative;
}

.skills__designTitle::before,
.skills__codingTitle::before {
content: "";
    border: solid 0.8px #403D3D;
    width: 32px;
    position: absolute;
    top: 10px;
    left: 0;
}

.skills__txt {
    font-size: 1.3rem;
    line-height: 1.8;
    margin-top: 10px;
}

.skills__toolTitle {
    color: #CDB8A3;
    font-size: 1.2rem;
    margin-top: 24px;
}

.skills__toolTxt {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* skills pc */
@media screen and (min-width:769px) {
    .section--skills {
        padding: 100px 12.5%;
    }
    
    .skills__title {
        text-align: start;
        font-size: 3.2rem;
    }
    
    .skills__title::after {
        margin: 24px auto 0;
    }

    .skills__design,
    .skills__coding {
        margin-top: 64px;
    }

    .skills__designTitle,
    .skills__codingTitle {
        font-size: 2.4rem;
        padding-left: 74px;
    }

    .skills__designTitle::before,
    .skills__codingTitle::before {
        border: solid 1px #403D3D;
        width: 62px;
        top: 13px;
    }

    .skills__txt {
        font-size: 1.4rem;
        margin-top: 24px;
        padding-left: 74px;
    }
    
    .skills__tool {
        display: flex;
        margin-top: 24px;
        padding-left: 74px;
    }

    .skills__toolTitle {
        font-size: 1.4rem;
        margin: 0 24px 0 0;
    }
    
    .skills__toolTxt {
        font-size: 1.4rem;
        margin-top: 0;
    }
}

/* ===============================
strengths
================================== */
.section--strengths {
    padding: 80px 5.3% 100px;
}

.strengths__title {
    text-align: center;
    font-family: 'Aboreto';
    font-size: 2.4rem;
    line-height: 1;
}

.strengths__title::after {
    content: '';
    display: block;
    margin: 12px auto 0;
    border-bottom: 1px solid #CDB8A3;
    width: 100%;
}

.strengths__itemTopics {
    display: flex;
    align-items: baseline;
}

.strengths__item {
    margin-top: 40px;
}

.strengths__num {
    font-family: 'Aboreto';
    font-size: 2rem;
    line-height: 1;
    margin-right: 12px;
}

.strengths__itemTitle {
    font-size: 2rem;
    line-height: 1;
}

.strengths__txt {
    font-size: 1.3rem;
    line-height: 1.8;
    margin-top: 12px;
}

/* strengths pc */
@media screen and (min-width:769px) {
    .section--strengths {
        padding: 100px 12.5%;
    }

    .strengths__title {
        text-align: start;
        font-size: 3.2rem;
    }
    
    .strengths__title::after {
        margin: 24px auto 0;
    }
    
    .strengths__list {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .strengths__item {
        width: 29.6%;
        margin-top: 64px;
    }


    .strengths__num {
        font-size: 2.4rem;
        margin-right: 12px;
    }
    
    .strengths__itemTitle {
        font-size: 2.4rem;
    }
    
    .strengths__txt {
        font-size: 1.4rem;
    }
    
}
/* ===============================
Btn
================================== */
.aboutBtn {
    display: block;
    padding: 56px 0;
    color: #F9F9F9;
    background-color: #978574;
}

.works__btnFlex {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.works__btnTxt {
    font-size: 1.4rem;
    line-height: 1;
}

.works__btnArrow {
    margin-left: 12px;
}

/* btn pc */
@media screen and (min-width:769px) {
    .aboutBtn {
        width: 540px;
        margin: 100px auto 0;
    }

    .works__btnTxt {
        font-size: 2rem;
    }
    
}


