@charset "UTF-8";
html {
    font-size: 62.5%;
}

body {
    font-family:
    'Zen Kaku Gothic New',
    'Aboreto',
    'Open Sans',
    sans-serif;
    font-weight: 400;
    color: #464646;
    background-color: #F9F9F9;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

img {
    max-width: 100%;
    height: auto;
}

/* ===============================
header
================================== */
.header {
    padding: 20px 5.3%;

}

.header__topic,
.nav__header {
    display: flex;
    justify-content: space-between;
    align-items:last baseline;
    color: #CDB8A3;
    font-family: 'Aboreto';
    font-size: 1.2rem;
}

/* todo ここメニューをアニメーションにする */
/* JS　activeつけてから確認 */
/* .nav初期設定 */
/* .nav {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.4s;
}

.nav__list {
    width: 60%;
    margin: 0 auto;
}

.nav__item {
    display: block;
    margin-top: 60px;
    font-family: Marcellus;
    font-size: 1.6rem;
    line-height: 1;
}

.nav__item:hover {
    opacity: 0.6;
}

.nav__item  a {
    display: block;
}

.nav.active {
    transform: translateX(0);
} */

/* header pc */
@media screen and (min-width:769px) {
    .header {
        padding: 36px 4.1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__topic,
    .nav__header {
        font-size: 1.6rem;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        padding: 0;
        position: static;
        transform: translate(0);
    }

    .header__btn,
    .nav__header {
        display: none;
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        background-color: #CDB8A3;
        box-shadow: 0px 2px 8px rgba(126, 123, 123, 0.25);
        width: 78px;
        height: 30px;
        border-radius: 20px;
        color: #F9F9F9;
        font-family: 'Aboreto';
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
    }
}

/* ===============================
footer
================================== */
.footer {
    padding: 100px 10.6% 40px;
}

.contact {
    display: block;
    width: 294px;
    height: 72px;
    border: 1px solid #CDB8A3;
    margin: 36px auto 0;
}

.contact__title {
    color: #CDB8A3;
    text-align: center;
    font-family: 'Aboreto';
    font-size: 2.4rem;
    margin: -18px auto 0;
    background-color: #F9F9F9;
    width: 148px;
    height: 28px;
}

.contact__txt {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 8px;
}

.contact__address {
    font-family: 'Open Sans';
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
}

.nav__list {
    display: flex;
    justify-content: center;
    gap: 0 30px;
    margin-top: 40px;
}

.nav__item {
    background-color: #CDB8A3;
    box-shadow: 0px 2px 8px rgba(126, 123, 123, 0.25);
    width: 78px;
    height: 30px;
    border-radius: 20px;
    color: #F9F9F9;
    font-family: 'Aboreto';
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__fotterCopy {
    display: flex;
    justify-content: flex-end;
    margin-top: 76px;
}

.copy {
    font-family: 'Aboreto';
}


/* footer pc */
@media screen and (min-width:769px) {
    .footer {
        padding: 133px 12.5% 40px;
    }
    
    .contact {
        width: 475px;
        height: 120px;
    }
    
    .contact__title {
        font-size: 3.6rem;
        margin: -27px auto 0;
        width: 210px;
        height: 44px;
    }
    
    .contact__txt {
        font-size: 1.4rem;
        margin-top: 20px;
    }
    
    .contact__address {
        font-size: 2.4rem;
    }

    .nav__list {
        justify-content: center;
        gap: 0 40px;
        margin-top: 104px;
    }
    
    .nav__item {
        margin-left: 0;
    }

    .nav__fotterCopy {
        margin-top: 34px;
    }
    
    .copy {
        
    }
    
    
}


/* todo navlistとitemのクラス名をへったーとフッターで分ける
margin gap整える */